* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}

a:hover {
    cursor: pointer;
    opacity: 1;
}

i {
    font-size: 30px;
}


nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#s1 {

    height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.left {

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 999px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.479);
}


.left img {
    width: 400px;
    height: auto;
    transition: all 1000ms ease-in-out;
}

.left img:hover {
    transform: scale(1.3) rotate(720deg);
}

.right {

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#s2 {
    width: 100%;
    min-width: 100vh;
    height: auto;
    background-image: url(./images\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
    padding: 50px;

}

.card {
    width: 300px;
    border: 2px solid #090909;
    background: #090909;
    color: #ffff;
    min-height: 450px;
    max-height: 450px;
    height: 450px;

}

.wrapTexts {
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    background-color: #090909;
    color: #ffffff;
    padding: 10px;
}

#s3 {

    height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.video {
    width: 560px;
    height: 315px;
    box-shadow: 0px 3px 10px black;
    border-radius: 20px;

}

#s4 {

    height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 450px;
    max-height: 450px;
    height: 450px;
    flex-wrap: wrap;

}
.a{
    height: 100px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.d{
    height: 100px;
    padding-top: 90px;
    display: flex;
    align-items: center;
}


.footer {
    height: 50px;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

i {
    transition: all 200ms ease-in-out;
}

i:hover {
    transform: translateY(-7px) scale(1.1) rotate(27deg);
}

@media (width <=1000px) {
    #s1 {
        margin-top: 100px;
    }

    #s2 {
        margin-top: 100px;
    }
}