*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}

a:hover{
    cursor: pointer;
    opacity: 1;
}

i{
    font-size: 30px;
}


nav{
   position: fixed;
   width: 100%;
   height: 80px;
   z-index: 999;
   background-color: white;
   box-shadow: 0px 3px 10px #090909;
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#s1{

height: 100vh;
padding-top: 80px;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 20px;
}
.left{

width: 400px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
border: 2px solid black;
border-radius: 999px;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.479);
}


.left img{
width: 400px;
height: auto;
transition: all 1000ms ease-in-out;
}

.left img:hover{
    transform: scale(1.2) rotate(720deg);
}
.right{

width: 400px;
display: flex;
flex-direction: column;
align-items: left;
justify-content: center;
}

#s2{

height: 100vh;
background-image: url(./images\ \(2\).jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}
#s3{

height: 100vh;
padding-top: 80px;


}
#s4{

height: 100vh;
padding-top: 80px;

}
footer{
  height: 50px;
  box-shadow: 0px 3px 10px #090909;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}